/* ========= General ========= */
html {
  /* It does not work in Safari. Need to fix with JS */
  scroll-behavior: smooth;
  /* disable copy/paste */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 { /* Home "Jasmine Zeng" */
  color:honeydew;
  font-family: 'Satisfy', 'cursive';
  font-size:7.5vw;
  text-align: center;
}

h2 { /* Titles of Different Sections */
  color:honeydew;
  font-family: 'Kaushan Script', 'cursive';
  font-size: 5vw;
  text-align: center;
  clear: both;
  padding: 3.5rem 10rem 0rem 10rem;
}

h3 { /* Different Hello */
  color:ivory;
  font-family: 'Satisfy', 'cursive';
  font-size: 2.7vw;
  text-align: center;
} 

p, address {
  color: beige;
  font-family: 'Lato', sans-serif;
  font-size: 1.5vw;
  text-align: justify;
  padding: 3rem 13rem 0rem;
  margin: 0;
}

/* ========== Navbar ========== */
#navbar-upperleft {
  color:antiquewhite;
  font-size: 2vw;
  font-family: 'Oleo Script', 'cursive';
}

.nav-link {
  color:antiquewhite !important;
  font-size: 1.4vw;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
}

/* ========== Jumbotron ========== */
.hero-image {
  background-image: url('./images/sunsetPeak1.jpg');
  height: 900px;
  width: 100%;
  /* overlay effect */
  background-color: rgba(0,0,0,0.6);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me {
  background-image: url('./images/qiPao5.jpg');
  height: 100%vh;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.4);
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.about-me-p {
  padding: 13vw 13vw 16vw;
}

.gallery {
  background-image: url('./images/suicideCliff2.jpg');
  padding: 13vw 13vw 16vw;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.galleryBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-flow: row nowrap; */
  justify-content: space-around;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 0.8vw 1.5vw;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 1.6vw;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 7px;
  /* vertical-align: middle; */
}

/* Contact */
.contact {
  background: black;
}

.fab {
  font-size:4.5vw;
  color:#2867B2;
  padding: 2.5vw 1vw 1.5vw 2vw;
}

#emailMe {
  color: beige;
  font-family: 'Source Serif Pro', serif;
}

footer {
  background: black;
  color: beige;
}

/* If the screen size is 650px wide or less, set the ... of ... to... */
@media screen and (max-width: 650px) {
  .hero-image {
    height: 90vh;
    background-image: url('./images/qiPao6.jpg');
  }

  .about-me {
    background-image: url('./images/ngongPing1.jpg');
  }

  .gallery {
    background-image: url('./images/stanley1.jpeg');
  }
  
  #navbar-upperleft {
    font-size: 3.5vw;
  }

  .navbar-toggler-icon, .navbar-nav {
    font-size:2.5vw;
    /* padding: 2.5vw, 1vw 1.5vw 2vw; */
    /* display: left; */
  }

  .nav-link, .dropdown-item{
    font-size: 2.5vw;
  }

  h1 {
    font-size: 13vw;
  }

  h2 {
    font-size: 8vw;
    padding: 8vh 3vw 0vh;
  }

  h3 {
    font-size: 5vw;
    padding: 3vh 3vw;
  }

  p {
    font-size: 2.8vw;
    padding: 3vh 8vw;
  }
}
